<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CYT</title>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation-datepicker.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-5.5.0-web/css/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-5.5.0-web/css/solid.css') }}">
  </head>
  <body>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
          <h1 style="text-align: center;">Check Your Tires</h1>
        </div>
      </div>
      <br />
      <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
          <div class="grid-x grid-padding-x">
            <div class="large-3 medium-2 cell">
            </div>
            <div class="large-6 medium-8 cell" style="text-align: center;">
              <p>Given your zipcode [<strong>{{ input['zipcode'] }}</strong>] and the last day you checked your tire pressure [<strong>{{ input['lastcheck'] }}</strong>] we have calculated a suggested date to next Check Your Tires!</p>
            </div>
            <div class="large-3 medium-2 cell">  
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
          <div class="grid-x grid-padding-x">
            <div class="large-4 medium-3 cell">
            </div>
            <div class="large-4 medium-6 cell">
              <div class="callout">
                <form class="center_it">
                  <div>
                    <h3>
                      {{ result['dd'] }} {{ result['month'] }} {{ result['yyyy'] }}
                    </h3>
                  </div>
                </form>
              </div>
            </div>
            <div class="large-4 medium-3 cell">  
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
          <div class="grid-x grid-padding-x">
            <div class="large-3 medium-2 cell">
            </div>
            <div class="large-6 medium-8 cell" style="text-align: center;">
              <p>In general, it is good practice to check your tire pressure about once every month. You'll need to check more often when temperatures are changing significantly.</p>
            </div>
            <div class="large-3 medium-2 cell">  
            </div>
          </div>
        </div>
      </div>
      <div class="grid-x grid-padding-x">
          <div class="large-12 cell">
            <div class="center_it_too">
              <a class="button" href="{{ url_for('index') }}">
                GO BACK
              </a>
            </div>
          </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/what-input.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/foundation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foundation-datepicker.js') }}"></script>
    <script src="{{ url_for('static', filename='js/locales/foundation-datepicker.en.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>
